.metamask-login {
  box-sizing: border-box;
}

.login-text {
  box-sizing: border-box;
}

.no-metamask-button-wrapper {
  box-sizing: border-box;
}

.noMetamaskButtonContent {
  box-sizing: border-box;
}

.no-metamask-button-title {
  box-sizing: border-box;
}
