.transactionData {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 8px;

  .transactionDataLabel {
    align-items: center;
    color: #a3a3a3;
    display: flex;
    justify-content: space-between;
  }

  .transactionDataValueWrapper {
    border-radius: 8px;
    border: 1px solid #262626;
    padding: 4px;

    .transactionDataValue {
      min-height: 60px;
      line-height: 1.25;
      max-height: 60px;
      overflow-y: auto;
      word-break: break-all;
      display: flex;
      align-items: flex-start;
      gap: 8px;
      display: flex;
      align-items: flex-start;
      padding: 4px;

      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-track:hover,
      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }

      &::-webkit-scrollbar {
        width: calc(0.5rem + 8px);
      }

      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-track:hover {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-thumb:hover {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: #404040;
      }

      &::-webkit-scrollbar-button {
        display: none;
      }

      &::-webkit-resizer {
        background-color: transparent;
      }

      .transactionDataValueText {
        flex: 1;
      }

      .transactionDataValueCopy {
        position: sticky;
        min-width: 1rem;
        max-width: 1rem;
        top: 0;

        &:hover path {
          color: #0ac2ae;
        }

        path {
          color: #737373;
          transition: all 200ms ease;
        }
      }
    }
  }
}
