.iframe-login {
  box-sizing: border-box;
}

.login-text {
  box-sizing: border-box;
}

.no-iframe-button-wrapper {
  box-sizing: border-box;
}

.noIFrameButtonContent {
  box-sizing: border-box;
}

.no-iframe-button-title {
  box-sizing: border-box;
}
