.scResultSender {
  .copy {
    margin-left: 0.5rem;

    svg path {
      fill: #cacbcc;
      transition: all 200ms;

      &:hover {
        fill: #1f43f4;
      }
    }
  }

  .address {
    position: relative;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: auto;

    span {
      max-width: none;

      [class*='left'] span,
      [class*='right'] span {
        font-size: 1rem;
      }
    }
  }
}
