.default-login-button {
  color: inherit;
}

.wrapper {
  color: inherit;
}

.login-text {
  color: inherit;
}

.button-wrapper {
  color: inherit;
}

.button-content {
  color: inherit;
}

.button-title {
  color: inherit;
}

.button-icon {
  color: inherit;
}
