@import 'assets/sass/variables/variables';
.data-field {
  .form-control:disabled,
  .form-control[readonly] {
    background-color: $light;
  }

  .small-font {
    font-size: 0.8125rem;
  }
}

.modal-container {
  .modal-dialog {
    .modal-content {
      align-items: center;
      border-radius: $card-border-radius;
    }

    .card {
      .card-body {
        box-shadow: inset 0 4px 0 0 $primary; // TODO:
        border-radius: $card-border-radius;
      }

      // @include media-breakpoint-up(sm) {
      //   width: 39rem;
      // }
    }
  }
  // &.choose-provider-modal {
  //   .modal-dialog {
  //     .card {
  //       @include media-breakpoint-up(sm) {
  //         width: 100%;
  //       }
  //     }
  //   }
  // }
}
