{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          },
          "modules": "commonjs"
        }
      ],
      "@babel/preset-typescript",
      "@babel/preset-react"
    ],
    "env": {
      "test": {
        "plugins": ["@babel/plugin-transform-modules-commonjs"]
      }
    }
  }
  