@use '../../variables/variables';
.side-icon {
    width: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    color: transparent;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid variables.$border-color-alt;
    svg {
      color: variables.$muted;
    }
  }
div.side-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      transform: scale(0.75);
    }
  }
