@use '../../../assets/sass/variables/variables';

.xPortal-login-container {
  padding: 48px 16px;

  @media (min-width: 768px) {
    padding: 48px 40px;
  }

  .xPortal-modal-dialog-content {
    border-radius: 24px;
    border: none;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    max-width: 400px;

    @media (min-width: 768px) {
      max-width: 730px;
    }

    .xPortal-modal-header {
      position: absolute;
      background-color: transparent;
      padding: 0;
      right: 20px;
      top: 16px;

      .xPortal-modal-header-text {
        display: none;
      }

      .xPortal-modal-close-button {
        float: none;
        cursor: pointer;
        position: relative;
        top: auto;
        padding: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }

    .xPortal-modal-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0;
      justify-content: center;
      overflow: hidden;
    }
  }
}

.xPortal-content {
  text-align: center;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;

  .xPortal-container-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 12px;
  }

  .xPortal-container-subheading {
    line-height: 1;
    font-size: 14px;
    margin-bottom: 0;
  }

  .xPortal-container-error {
    color: variables.$danger;
    margin-bottom: 0;
    margin-top: 12px;
    line-height: 1;
  }

  .xPortal-qr-code {
    width: 100%;
    max-width: 290px;
    margin: 32px auto 0;
    border-radius: 16px;
    overflow: hidden;
  }

  .xPortal-loader {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .xPortal-container-button {
    border-radius: 6px;
    padding: 12px 16px;
    line-height: 1;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: -16px;
    justify-content: center;

    @media (min-width: 768px) {
      width: auto;
      align-self: center;
    }

    .xPortal-container-button-icon {
      margin-right: 8px;
    }
  }

  .xPortal-pairings {
    margin-top: 32px;

    .xPortal-pairings-lead {
      margin-bottom: 16px;
    }

    .xPortal-pairings-list {
      display: inline-flex;
      flex-direction: column;
      gap: 16px;

      .xPortal-pairing-button {
        display: flex;
        border: none;
        background-color: variables.$gray-300;
        border-radius: 6px;
        padding: 16px;
        align-items: center;
      }

      .xPortal-pairing-loader {
        width: 48px;
        overflow: hidden;
        height: auto;
        min-width: 2rem;
        margin: 0;
        padding: 0;
        color: variables.$primary;
      }

      .xPortal-pairing-image {
        width: 48px;
        height: auto;
        max-height: 48px;
      }

      .xPortal-pairing-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        word-break: break-word;
        text-align: left;
        margin-left: 16px;
        gap: 4px;
        flex: 1;
      }

      .xPortal-pairing-remove {
        margin-left: 16px;
      }
    }
  }

  .xPortal-legacy-link {
    line-height: 1;
    font-size: 18px;
    margin-top: 32px;
    font-weight: 500;
    display: inline-block;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}
