@use '../../../../assets/sass/variables/variables';

.ledger-progress-bar {
  position: relative;
  margin: 40px auto 0;

  .ledger-progress-bar-track {
    max-width: 250px;
    width: 60vw;
    height: 4px;
    background-color: variables.$gray-500;
    border-radius: 2px;
  }

  .ledger-progress-bar-thumb {
    transition: all 400ms ease;
    height: 4px;
    border-radius: 2px;
    background-color: variables.$gray-700;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}
