.extension-login {
  color: inherit;
}

.title {
  color: inherit;
  display: flex;
}

.wrapper {
  color: inherit;
}

.login-text {
  color: inherit;
}

.no-extension-button-wrapper {
  color: inherit;
}

.noExtensionButtonContent {
  color: inherit;
}

.no-extension-button-title {
  color: inherit;
}

.no-extension-button-icon {
  color: inherit;
}
