.hash {
  display: flex;
  align-items: center;
  word-break: break-all;

  .copy {
    margin-left: 0.5rem;

    svg path {
      fill: #cacbcc;
      transition: all 200ms;

      &:hover {
        fill: #1f43f4;
      }
    }
  }
}
