@import 'assets/sass/variables/variables';

.transactions-table {
  .table {
    .trim-hash {
      max-width: 8rem;
    }
    th:last-child,
    td:last-child {
      padding-right: 1rem !important;
    }
    .transaction-value {
      width: 12rem;
    }
    .transaction-function {
      width: 10.5rem;
      .transaction-function-badge {
        max-width: 9.5rem;
        line-height: 1.2;
      }
    }
  }

  table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
  }

  thead {
    background: white;
    position: sticky;
    top: 0; /* required for the stickiness */
    z-index: 99999;
  }
}

.direction-badge {
  color: inherit;
}

.table-wrapper {
  overflow-x: auto;

  .table {
    margin: 0;
    white-space: nowrap;
    max-height: 500px;
    overflow: scroll;

    th {
      border: 0;
    }

    td {
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.table .trim-size-sm .trim {
  max-width: 9rem;
}

.transaction-cell {
  margin: 0.75rem;
  padding: 0;
  font-variant-numeric: slashed-zero;
  color: #3d5170;

  a,
  a span {
    color: #1f43f4 !important;
  }
}

.transaction-cell-margin {
  margin-left: 0;
}
