.action {
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .result {
    @media (min-width: 992px) {
      flex-direction: row;
      align-items: center;
      display: contents;
      margin-right: 0.25rem;
    }
  }
}
