.extension-login {
  box-sizing: border-box;
}

.login-text {
  box-sizing: border-box;
}

.no-extension-button-wrapper {
  box-sizing: border-box;
}

.noExtensionButtonContent {
  box-sizing: border-box;
}

.no-extension-button-title {
  box-sizing: border-box;
}
