.ledger-login-container {
  padding: 48px 16px;

  @media (min-width: 768px) {
    padding: 48px 40px;
  }

  .ledger-modal-dialog-content {
    border-radius: 24px;
    border: none;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    box-shadow: none;
    max-width: 400px;

    @media (min-width: 768px) {
      max-width: 730px;
    }

    .ledger-modal-header {
      position: absolute;
      background-color: transparent;
      padding: 0;
      right: 20px;
      top: 16px;

      .ledger-modal-header-text {
        display: none;
      }

      .ledger-modal-close-button {
        float: none;
        position: relative;
        top: auto;
        padding: 0;
        cursor: pointer;

        &:hover {
          background-color: transparent;
        }
      }
    }

    .ledger-modal-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0;
      justify-content: center;
      overflow: hidden;
    }
  }
}
