@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$spacer-val: $spacer * 1.7;
// SPACING
$spacers: (
  spacer: (
    $spacer-val,
  ),
);

$modal-lg: 565px;

@function toRem($value) {
  $remValue: ($value / 14) + rem;
  @return $remValue;
}
