@use '../../../assets/sass/variables/variables';

.token-symbol,
.token-symbol-combined {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$white;
  border-radius: 50%;
  svg {
    #egld-token {
      fill: variables.$black;
    }
  }
}

.token-symbol-combined {
  background-color: variables.$transparent;
}

.token-symbol {
  border: 1px solid variables.$black;
  //box-shadow: $thumbnail-box-shadow;
  width: 2rem;
  height: 2rem;

  img {
    width: 100%;
    height: 100%;
  }

  svg {
    &.expanded {
      width: 100%;
      height: 100%;
    }
  }
}

.token-symbol-combined {
  svg {
    //filter: drop-shadow(0 0 0.25rem $shadow-color);
    circle {
      fill: variables.$card-bg;
    }
  }
  width: 4.5rem;
  height: 4.5rem;

  svg {
    width: 4.25rem;
    height: 4.25rem;
  }
  &.small {
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.token-icon-lg {
  .token-symbol {
    width: 3rem;
    height: 3rem;
    svg {
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}

.token-icon-xl {
  .token-symbol {
    width: 4rem;
    height: 4rem;

    svg {
      width: 2.3rem;
      height: 2.3rem;
    }
  }
}
