.summary {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;

  .fields {
    gap: 32px;
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;

    @media (min-width: 768px) {
      margin-top: 80px;
    }
  }
}
