@use '../../assets/sass/variables/variables';

.scam-phishing-alert {
  margin: 40px auto 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding: 0 16px;
  width: auto;
  align-items: center;

  .scam-phishing-alert-icon {
    color: variables.$primary;
    margin-right: 8px;
  }

  .scam-phishing-alert-text {
    text-align: left;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    strong {
      color: variables.$primary;
    }

    .scam-phishing-alert-prefix {
      @media (min-width: 768px) {
        margin-left: 4px;
      }
    }
  }
}

.scam-phishing-alert-authorization {
  display: flex;
  flex-direction: column;
  margin-top: 0;

  .scam-phishing-alert-text {
    text-align: center;
    flex-direction: row;
  }

  .scam-phishing-alert-authorization-duration {
    margin-left: 4px;
  }
}
