@use '../../../../assets/sass/variables/variables';

.login-connect-container {
  color: inherit;
  width: 100%;

  .login-connect-container-content {
    text-align: center;
    padding: 40px 16px;

    .login-connect-container-heading {
      font-weight: 500;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 12px;
    }

    .login-connect-container-description {
      line-height: 1;
      font-size: 14px;
      margin-bottom: 0;
    }

    .login-connect-container-error {
      color: variables.$danger;
      margin-bottom: 0;
      margin-top: 12px;
      line-height: 1;
    }

    .login-connect-container-icon {
      width: 100%;
      max-width: 288px;
      margin: 48px auto;

      @media (min-width: 480px) {
        margin: 100px auto;
      }
    }

    .login-connect-container-footer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .login-connect-container-button {
        border-radius: 6px;
        padding: 12px 16px;
        line-height: 1;
        font-size: 16px;
        font-weight: 600;
        width: 100%;

        @media (min-width: 768px) {
          width: auto;
        }
      }

      .login-connect-container-link {
        line-height: 1;
        font-size: 18px;
        margin-top: 32px;
        font-weight: 500;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}
