@use '../../../../../../assets/sass/variables/variables';

.receiver {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 8px;

  .receiverLabelWrapper {
    display: flex;
    gap: 8px;

    .receiverLabel {
      color: #a3a3a3;
    }

    .receiverLabelScam {
      color: variables.$danger;
      line-height: 1;
      display: flex;
      align-items: center;
      gap: 4px;
      position: relative;
      padding-left: 16px;

      &:before {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 10px;
        content: '';
        position: absolute;
        height: 1px;
        background-color: #a3a3a3;
      }

      .receiverLabelScamIcon {
        color: variables.$danger;
      }
    }
  }

  .receiverWrapper {
    display: flex;
    align-items: center;
    line-height: 1;
    white-space: nowrap;
    gap: 8px;

    .receiverData {
      color: #737373;
      display: flex;
      gap: calc(8px / 4);
      align-items: center;

      .receiverDataIcon {
        width: 10px;
        height: auto;
        margin-bottom: calc((8px / 4) * -1);
      }
    }

    .receiverCopy {
      color: #737373;
      min-width: 1rem;
      max-height: 1rem;
    }

    .receiverExternal {
      margin: 0;
      max-height: 1rem;

      &:hover * {
        color: #0ac2ae !important;
      }

      * {
        transition: all 200ms ease;
        color: #737373 !important;
      }
    }
  }
}
