@use '../../assets/sass/variables/variables';

.toasts {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 9999;
  font-family: 'Helvetica', sans-serif;


  &.toastWrapper {
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
    margin-bottom: 0.7rem;
    padding: 0.5rem;
    background-color: variables.$white;
    position: relative;
  }


  @media (min-width: 768px) {
    right: 2rem;
    bottom: 2rem;
    width: 22.5rem;
    left: auto;
  }
}

@keyframes loader {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
