.tooltip {
  display: flex;
  position: relative;

  .tooltip-content-wrapper {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;

    &.top {
      bottom: calc(100% + 16px);
    }

    &.bottom {
      top: calc(100% + 16px);
    }

    .tooltip-content {
      flex-direction: row;
      text-align: left;
      gap: 8px;
      cursor: default;
      background: #000000;
      border-radius: 12px;
      border: 1px solid #262626;
      padding: 8px;

      &:after {
        width: 8px;
        height: 8px;
        border: 1px solid #262626;
        background-color: #000000;
        position: absolute;
        content: '';
        left: 50%;
        transform-origin: center;
        transform: translateX(calc(50% - 8px)) rotateZ(calc(45deg * -1));
      }

      &.top:after {
        bottom: calc(4px * -1);
        border-top: none;
        border-right: none;
      }

      &.bottom:after {
        top: calc(4px * -1);
        border-bottom: none;
        border-left: none;
      }
    }
  }
}
