.to {
  .wrapper {
    display: flex;
    flex-direction: column;

    .content {
      display: flex;
      align-items: center;

      .contract {
        margin-right: 0.5rem;
      }

      .explorer {
        display: flex;
        max-width: 100%;
        overflow: hidden;
        color: #1f43f4 !important;
        margin-left: 0 !important;

        &:hover {
          text-decoration: none;
        }

        span {
          max-width: none;

          [class*='left'] span,
          [class*='right'] span {
            font-size: 1rem;
            color: #1f43f4 !important;
          }

          &:last-child {
            color: #1f43f4 !important;
          }
        }
      }

      .copy {
        margin: 0 0.5rem;

        svg path {
          fill: #cacbcc;
          transition: all 200ms;

          &:hover {
            fill: #1f43f4;
          }
        }
      }

      .shard {
        color: #1f43f4 !important;
        text-decoration: none;
        flex-shrink: 0;
        margin-left: 0;
      }
    }

    .message {
      margin-left: 0.25rem;
      display: flex;
      align-items: center;

      .icon {
        color: #6c757d;
        height: 0.75rem;
      }

      .text {
        color: #d9534f;
        margin-left: 0.5rem;
      }
    }
  }
}
