.metamask-proxy-login {
  box-sizing: border-box;
}

.login-text {
  box-sizing: border-box;
}

.no-metamask-proxy-button-wrapper {
  box-sizing: border-box;
}

.noMetamaskProxyButtonContent {
  box-sizing: border-box;
}

.no-metamask-proxy-button-title {
  box-sizing: border-box;
}
