@use '../../assets/sass/variables/variables.scss';

.guardian-warning-toast {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .guardian-warning-toast-heading {
    display: flex;
    gap: 8px;
    align-items: center;

    .guardian-warning-toast-heading-icon {
      color: variables.$danger;
      font-size: 20px;
    }

    .guardian-warning-toast-heading-text {
      color: variables.$danger;
      font-size: 16px;
    }
  }
}
