@import 'assets/sass/variables/variables';

.decode {
  margin-top: 0.25rem;
  position: relative;

  .textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid $border-color;
    background-color: $light;
    font-size: 0.8125rem;
    min-height: 3.125rem;
    height: 4.5rem;
    overflow: auto;
    padding: 0.375rem 6rem 0.375rem 0.75rem;
    word-wrap: break-word;
    white-space: pre-wrap;
    resize: vertical;
    scrollbar-width: thin;
    overflow-x: hidden;
    width: 100%;

    &:hover {
      border: 1px solid $border-color;
    }

    &:before {
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        background: $light;
        content: '';
        bottom: 1px;
        right: 1px;
        width: 16px;
        height: 16px;
        position: absolute;
        cursor: ns-resize;
      }
    }

    &:after {
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        content: '';
        bottom: 0;
        right: 0;
        width: 16px;
        height: 16px;
        position: absolute;
        -webkit-clip-path: polygon(80% 0, 80% 80%, 0 80%);
        clip-path: polygon(80% 0, 80% 80%, 0 80%);
        cursor: ns-resize;
        background: repeating-linear-gradient(
          135deg,
          $border-color,
          $border-color 1px,
          transparent 0,
          transparent 3px
        );
      }
    }

    &::-webkit-scrollbar {
      background-color: $light;
      width: 1rem;
    }
    &::-webkit-scrollbar-track {
      background-color: $light;
    }
    &::-webkit-scrollbar-track:hover {
      background-color: $light;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $border-color;
      border-radius: 1rem;
      border: 5px solid $light;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #a0a0a5;
      border: 4px solid $light;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-resizer {
      background-color: transparent;
    }
  }

  @-moz-document url-prefix() {
    &:before,
    &:after {
      display: none;
    }
  }

  .dropdown {
    right: 0.313rem;
    top: 0.313rem;
    position: absolute;
  }

  .warnings {
    display: flex;
    align-items: center;
    margin-right: 0.25rem;

    .icon {
      margin-right: 0.25rem;
      color: #f0ad4e;
    }

    .warning {
      color: #f0ad4e;
    }
  }
}
