@use '../variables/variables';

.bg-primary {
  background-color: variables.$primary;
}

.bg-warning,
.warning {
  background-color: variables.$warning;
}

.bg-danger,
.danger {
  background-color: variables.$danger;
}

.bg-success,
.success {
  background-color: variables.$success;
}
