@use '../variables/variables';
//
// Border
//

.border {
  border: variables.$border-width solid variables.$border-color;
}
.border-top {
  border-top: variables.$border-width solid variables.$border-color;
}
.border-right {
  border-right: variables.$border-width solid variables.$border-color;
}
.border-bottom {
  border-bottom: variables.$border-width solid variables.$border-color;
}
.border-left {
  border-left: variables.$border-width solid variables.$border-color;
}

.border-0 {
  border: 0;
}
.border-top-0 {
  border-top: 0;
}
.border-right-0 {
  border-right: 0;
}
.border-bottom-0 {
  border-bottom: 0;
}
.border-left-0 {
  border-left: 0;
}

//
// Border-radius
//

.rounded-sm {
  border-radius: variables.$border-radius-sm;
}

.rounded {
  border-radius: variables.$border-radius;
}

.rounded-top {
  border-top-left-radius: variables.$border-radius;
  border-top-right-radius: variables.$border-radius;
}

.rounded-right {
  border-top-right-radius: variables.$border-radius;
  border-bottom-right-radius: variables.$border-radius;
}

.rounded-bottom {
  border-bottom-right-radius: variables.$border-radius;
  border-bottom-left-radius: variables.$border-radius;
}

.rounded-left {
  border-top-left-radius: variables.$border-radius;
  border-bottom-left-radius: variables.$border-radius;
}

.rounded-lg {
  border-radius: variables.$border-radius-lg;
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-pill {
  border-radius: variables.$rounded-pill;
}

.rounded-0 {
  border-radius: 0;
}
