@use '../variables/variables';

.form-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  padding-left: 0;
}

.form-check-label {
  margin-bottom: 0; // Override default `<label>` bottom margin
}

.form-check-input {
  position: absolute;
  margin-top: variables.$form-check-input-margin-y;
  margin-left: -(variables.$form-check-input-gutter);

  &[disabled] ~ .form-check-label,
  &:disabled ~ .form-check-label {
    color: variables.$text-muted;
  }
}

// Inline-block all the things for "inline"
.form-group {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
}

// Allow folks to *not* use `.form-group`
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form-group {
  margin-bottom: variables.$form-group-margin-bottom;
}

.form-text {
  display: block;
  margin-top: variables.$form-text-margin-top;
  color: inherit;
}
