.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-sm-1 {
  @media (min-width: 576px) {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

.col-md-1 {
  @media (min-width: 768px) {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

.col-lg-1 {
  @media (min-width: 992px) {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

.col-xl-1 {
  @media (min-width: 1200px) {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-sm-2 {
  @media (min-width: 576px) {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

.col-md-2 {
  @media (min-width: 768px) {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

.col-lg-2 {
  @media (min-width: 992px) {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

.col-xl-2 {
  @media (min-width: 1200px) {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-sm-3 {
  @media (min-width: 576px) {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col-md-3 {
  @media (min-width: 768px) {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col-lg-3 {
  @media (min-width: 992px) {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col-xl-3 {
  @media (min-width: 1200px) {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-sm-4 {
  @media (min-width: 576px) {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

.col-md-4 {
  @media (min-width: 768px) {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

.col-lg-4 {
  @media (min-width: 992px) {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

.col-xl-4 {
  @media (min-width: 1200px) {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-sm-5 {
  @media (min-width: 576px) {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

.col-md-5 {
  @media (min-width: 768px) {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

.col-lg-5 {
  @media (min-width: 992px) {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

.col-xl-5 {
  @media (min-width: 1200px) {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-sm-6 {
  @media (min-width: 576px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-md-6 {
  @media (min-width: 768px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-lg-6 {
  @media (min-width: 992px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-xl-6 {
  @media (min-width: 1200px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-sm-7 {
  @media (min-width: 576px) {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

.col-md-7 {
  @media (min-width: 768px) {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

.col-lg-7 {
  @media (min-width: 992px) {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

.col-xl-7 {
  @media (min-width: 1200px) {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-sm-8 {
  @media (min-width: 576px) {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

.col-md-8 {
  @media (min-width: 768px) {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

.col-lg-8 {
  @media (min-width: 992px) {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

.col-xl-8 {
  @media (min-width: 1200px) {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-sm-9 {
  @media (min-width: 576px) {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.col-md-9 {
  @media (min-width: 768px) {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.col-lg-9 {
  @media (min-width: 992px) {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.col-xl-9 {
  @media (min-width: 1200px) {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-sm-10 {
  @media (min-width: 576px) {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

.col-md-10 {
  @media (min-width: 768px) {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

.col-lg-10 {
  @media (min-width: 992px) {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

.col-xl-10 {
  @media (min-width: 1200px) {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-sm-11 {
  @media (min-width: 576px) {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

.col-md-11 {
  @media (min-width: 768px) {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

.col-lg-11 {
  @media (min-width: 992px) {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

.col-xl-11 {
  @media (min-width: 1200px) {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-sm-12 {
  @media (min-width: 576px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-md-12 {
  @media (min-width: 768px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-lg-12 {
  @media (min-width: 992px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-xl-12 {
  @media (min-width: 1200px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
