@import 'assets/sass/variables/variables';

.locked-icon {
  color: inherit;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  .svg {
    height: auto;
    width: 20px;

    path {
      fill: $white;
    }
  }
}
