@use '../variables/variables';

.shadow-sm {
  box-shadow: variables.$box-shadow-sm;
}
.shadow {
  box-shadow: variables.$box-shadow;
}
.shadow-lg {
  box-shadow: variables.$box-shadow-lg;
}
.shadow-none {
  box-shadow: none;
}
