@import 'assets/sass/variables/variables';

.shadow-sm {
  box-shadow: $box-shadow-sm;
}
.shadow {
  box-shadow: $box-shadow;
}
.shadow-lg {
  box-shadow: $box-shadow-lg;
}
.shadow-none {
  box-shadow: none;
}
