@use '../../assets/sass/variables/variables';

.transactions-status-toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
}

.transactions-status-toast-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: left;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.75rem;
}

.transactions-status-toast-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;

  .svg {
    height: auto;
    width: 40px;

    path {
      fill: variables.$white;
    }
  }
}

.toasts {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 9999;
  font-family: 'Helvetica', sans-serif;

  &.toastWrapper {
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
    margin-bottom: 0.7rem;
    padding: 0.5rem;
    background-color: variables.$white;
    position: relative;
  }

  @media (min-width: 768px) {
    right: 2rem;
    bottom: 2rem;
    width: 22.5rem;
    left: auto;
  }
}
