.passkey-login {
  box-sizing: border-box;
}

.login-text {
  box-sizing: border-box;
}

.no-passkey-button-wrapper {
  box-sizing: border-box;
}

.nopasskeyButtonContent {
  box-sizing: border-box;
}

.no-passkey-button-title {
  box-sizing: border-box;
}
