@use '../../variables/variables';

.data-field {
  $font-size: 0.8125rem;
  $highlighted-font-size: 1rem;
  .textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
    font: medium -moz-fixed;
    font-size: $font-size;
    min-height: 5rem;
    overflow: auto;
    padding: 0.375rem 0.75rem;
    resize: both;
    &:hover {
      border: 1px solid #000;
    }

    & .highlighted {
      font-size: $highlighted-font-size;
    }

    &.sc-call {
      min-height: 3rem;
    }
  }

  .form-control:disabled,
  .form-control[readonly] {
    background-color: variables.$light;
  }
  .small-font {
    font-size: $font-size;
  }
}
