@use '../../assets/sass/variables/variables';
@use '../../assets/sass/mixins/textTruncate';

.trim {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  &.overflow {
    .ellipsis {
      display: block;
    }
  }

  .left {
    flex-shrink: 1;
    font-size: 1px;

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  .right {
    flex-shrink: 1;
    font-size: 1px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
    text-align: right;
  }

  .left span,
  .right span {
    font-size: 0.875rem;
    pointer-events: none;
    user-select: none;
  }

  .ellipsis {
    flex-shrink: 0;
    display: none;
    pointer-events: none;
    user-select: none;
  }

  /* IE fix */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .right {
      text-overflow: clip;
    }
  }

  /* SAFARI fix */
  @supports (-webkit-hyphens: none) {
    .right,
    .left {
      letter-spacing: -0.001em;
    }
    .right {
      text-overflow: clip;
    }
  }

  .hidden-text-ref {
    position: absolute;
    display: block;
    color: transparent;
  }

  @media (max-width: 1199.98px) {
    max-width: 26rem;
  }

  @media (max-width: 991.98px) {
    max-width: 12rem;
  }

  @media (max-width: 768px) {
    max-width: 8rem;
  }
}

.trim-wrapper {
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

a:hover > .trim span {
  color: variables.$link-hover-color;
  &.hidden-text-ref {
    color: transparent;
  }
}

a > .trim span,
.text-primary > .trim span {
  color: variables.$primary;
  &.hidden-text-ref {
    color: transparent;
  }
}

.table .trim {
  max-width: 10rem;
}

.table .trim-only-sm .trim {
  max-width: none;

  @media (max-width: 768px) {
    max-width: 13rem;
  }
}

.trim-fs-sm .trim {
  .left span,
  .right span,
  .ellipsis {
    font-size: 0.875rem;
  }
}

.table .trim-size-xl .trim {
  @media (max-width: 768px) {
    max-width: 13rem;
  }
}
