.balance {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 4px;

  .balanceApproximation {
    opacity: 0.75;
  }

  .balanceSymbol {
    width: auto;
    height: 0.666em;
    position: relative;
    top: 0.05em;

    path {
      fill: currentColor;
    }
  }

  .balanceDecimals {
    opacity: 0.75;
    margin-left: -4px;
  }

  .balanceSuffix {
    opacity: 0.75;

    &.balanceSuffixSup {
      font-size: 66%;
      position: relative;
      top: -0.125em;
      vertical-align: unset;
      white-space: nowrap;
    }
  }
}
