.transaction-action-collection {
  color: #1f43f4;
  display: inline-flex;
  margin-left: 0;

  &:hover {
    text-decoration: none;
  }
}

.transaction-action-nft {
  display: contents;

  .explorer {
    margin-left: 0;
    color: #1f43f4;

    &:hover {
      text-decoration: none;
    }

    .data {
      margin: 0;
      margin-right: 0.25rem;
    }
  }

  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
