.title {
  margin-bottom: 0;
}

.status {
  font-size: 0.875rem;
  margin: 0.25rem 0 0.5rem;
  line-height: 1.5;
}

.item {
  line-height: 1.5;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;

  .icon {
    font-size: 0.875rem;
    color: #6c757d;
    margin-right: 0.25rem;
  }

  .trim {
    width: 10rem;
    white-space: nowrap;
    margin-right: 1rem;
  }
}
