.icon-state {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.icon-state.half {
  width: 3rem;
  height: 3rem;
}

.fa-spin.fast-spin {
  animation-duration: 0.5s;
}
