.scResultHash {
  .hash {
    font-size: 1rem;
    align-items: flex-end;
    max-width: none;

    [class*='left'] span,
    [class*='right'] span {
      font-size: 1rem;
    }
  }

  .copy {
    margin-left: 0.5rem;

    svg path {
      fill: #cacbcc;
      transition: all 200ms;

      &:hover {
        fill: #1f43f4;
      }
    }
  }

  .explorer {
    color: #cacbcc;
    transition: all 200ms;

    &:hover {
      color: #1f43f4;
      text-decoration: none;
    }
  }
}
