@use '../../assets/sass/variables/variables';

.dappModal {
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
}
.dappModalContent {
  background: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
  z-index: 999;
  max-width: 500px;
  margin: auto;
  padding: 0;
  position: relative;

  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.dappModalHeader {
  padding: 2px 16px;
  background-color: variables.$white;
  font-size: 1.25rem;
}

.dappModalHeaderText {
  padding: 0 1rem;
}

.dappModalBody {padding: 16px 0;}

.dappModalFooter {
  background-color: variables.$white;
  padding: 1rem 0.5rem;
}

.dappModalCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 0;
}

.dappModalCloseButton:hover,
.dappModalCloseButton:focus {
  text-decoration: none;
  cursor: pointer;
  color: variables.$gray-900;
  background-color: variables.$gray-300;
  border-color: variables.$gray-200;
}
