.scResultWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  @media (min-width: 576px) {
    flex-direction: row;
  }

  .label {
    color: #6c757d;

    @media (min-width: 576px) {
      text-align: right;
    }
  }

  .data {
    display: flex;
    align-items: center;
  }
}
