.confirmAmount {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 8px;

  .confirmAmountWrapper {
    height: 48px;
    position: relative;

    .confirmAmountLoading {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      &.confirmAmountLoadingVisible {
        opacity: 1;
      }
    }

    .confirmAmountContent {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      &.confirmAmountContentHidden {
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}
