.amount {
  display: flex;
  flex-direction: column;
  text-align: left;

  .label {
    margin-bottom: 8px;
    color: #a3a3a3;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    display: block;
  }

  .token {
    display: flex;
    align-items: center;

    .value {
      font-size: 14px;
      font-weight: 500;
      color: #e5e5e5;
      line-height: 1.5;
    }
  }

  .price {
    font-size: 12px;
    color: #737373;
    line-height: 1;
    margin-top: 8px;
  }
}
