@use '../../../../assets/sass/variables/variables';

.ledger-address-table-body-item {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;

  &:not(.ledger-address-table-body-item-selected) {
    color: variables.$gray-600;
  }

  .ledger-address-table-body-item-data {
    font-size: 14px;
    line-height: 1;
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
    padding-right: 16px;

    &:first-child {
      width: 55%;
      flex-basis: 55%;
      max-width: 55%;
    }

    &:last-child {
      width: 32px;
      max-width: 32px;
      flex-basis: 32px;
      text-align: center;
      justify-content: center;
      padding-right: 0;
    }

    .ledger-address-table-body-item-data-input {
      position: relative;
      width: 12px;
      height: 12px;
      margin-right: 8px;
      -webkit-appearance: none;
      appearance: none;
      min-height: auto;

      @media (min-width: 480px) {
        margin-right: 12px;
      }

      &:before {
        border: 2px solid variables.$gray-500;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }

      &:checked:before {
        width: 12px;
        height: 12px;
        border: 4px solid variables.$primary;
      }
    }

    .ledger-address-table-body-item-data-label {
      margin-bottom: 0;
      flex: 1;
      display: flex;

      .ledger-address-table-body-item-data-shard-trigger {
        white-space: nowrap;
        color: #737373;
      }

      @for $currentShard from 1 through 3 {
        .ledger-address-table-body-item-data-shard-#{$currentShard - 1} {
          height: auto;
          width: 16px;
          cursor: pointer;

          path:not(:nth-child(#{$currentShard})) {
            opacity: 20%;
          }

          path:nth-child(#{$currentShard}) {
            opacity: 50%;
          }
        }
      }

      .ledger-address-table-body-item-data-value {
        flex: 1;
        margin-left: 8px;

        & > span {
          max-width: 84px;
          display: flex;
          align-items: flex-end;

          @media (min-width: 480px) {
            max-width: 112px;
          }

          @media (min-width: 768px) {
            max-width: 260px;
          }
        }
      }
    }
  }
}
