@use '../../../assets/sass/variables/variables';

.transactions-table {
  border: none;
  box-shadow: 0 0.75rem 1.875rem 0 rgb(90 97 105 / 5%);
  border-radius: 0.75rem;
  color: #000;

  .transactions-table-header {
    border-bottom: none;
    border-radius: 0.75rem;
    padding: 1.75rem 2rem;

    h6 {
      margin-bottom: 0;
    }
  }

  .table-wrapper {
    overflow-x: auto;

    .table {
      white-space: nowrap;
      max-height: 500px;
      width: 100%;

      tr {
        border-top: 1px solid #e2e2e2;
      }

      th {
        white-space: nowrap;
        padding: 0.75rem;
        background-color: #fbfbfb;
        border: 0;
        vertical-align: middle;
        font-weight: 400;

        &:first-child {
          padding-left: 2rem;
        }
      }

      td {
        white-space: nowrap;
        width: 0.1%;
        white-space: nowrap;

        &:first-child {
          padding-left: 1.25rem;
        }
      }

      .transaction-cell {
        padding: 0;
        margin: 0.75rem;
        font-variant-numeric: slashed-zero;
        color: #000;

        a {
          color: #1f43f4;
          font-weight: 500;
        }
      }

      .transaction-cell-margin {
        margin-left: 0;

        [class*='left'] span,
        [class*='right'] span {
          font-size: 1rem;
          color: #1f43f4;
        }

        [class*='ellipsis'] {
          color: #1f43f4;
        }
      }

      .transaction-cell-overflow {
        max-width: 9rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .transaction-cell-link {
        position: relative;
        text-decoration: none;
      }

      .transaction-cell-font-small {
        font-size: 0.75rem;
      }
    }
  }
}
