@use '../../../../assets/sass/variables/variables';

.content {
  display: flex;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.75rem;

    .warning {
      background-color: variables.$warning;
    }

    .danger {
      background-color: variables.$danger;
    }

    .success {
      background-color: variables.$success;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;

      .svg {
        height: auto;
        width: 20px;

        path {
          fill: variables.$white;
        }
      }
    }
  }

  .right {
    display: block;
    overflow: hidden;
    width: 100%;

    .heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.25rem;

      .title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;
        font-weight: 400;
      }

      .close {
        cursor: pointer;
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: variables.$black;
        text-shadow: 0 1px 0 variables.$white;
        opacity: 0.5;
        padding: 0;
        background-color: variables.$transparent;
        border: 0;
        display: flex;
        align-items: center;
        margin: 0 0.5rem;
      }

      .footer {
        display: block;
      }
    }
  }
}
