.ledger-login {
  color: inherit;
}

.wrapper {
  color: inherit;
}

.login-text {
  color: inherit;
}

.ledger-address-table {
  color: inherit;
}

.wrapper {
  color: inherit;
}

.card-body {
  color: inherit;
}

.table-wrapper {
  color: inherit;
}

.table-content {
  color: inherit;
}

.table-header {
  color: inherit;
}

.table-header-text {
  color: inherit;
}

.buttons-wrapper {
  color: inherit;
}

.arrow-button {
  color: inherit;
}

.confirm-button {
  color: inherit;
}

.login-modal-content {
  color: inherit;
}

.login-container {
  color: inherit;
}
