.toast {
  border-radius: 0.25rem;
  border: 1px solid #0000001a;
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
  margin-bottom: 0.3rem;
  padding: 0.5rem;
  background-color: white;
  position: relative;
}
