.wallet-connect {
  color: inherit;
}

.modal-container {
  color: inherit;
}

.formGroup {
  color: inherit;
}

.title {
  margin-bottom: 32px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--action-color);
  line-height: 1.25;

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.modal-layout-content {
  padding: 0 16px 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    padding: 0 40px 40px;
  }

  &.spaced {
    padding: 16px 16px 32px;

    @media (min-width: 768px) {
      padding: 40px;
    }
  }
}
